@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-accent: #00B4E5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --max-width-container: 1440px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
